<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.u6k.InstantEverClip" android:versionName="0.1.0-SNAPSHOT" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="InstantEverClip"></application>
</manifest>